.contact {
  position: relative;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../assets/background.jpg");
  background-size: 100% 100%;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.container {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 50px;
  margin-top: 30px;
}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px;
  display: flex;
  cursor: pointer;
}

.container .contactInfo .box .icon {
  position: relative;
  min-width: 60px;
  height: 60px;
  background: repeating-conic-gradient(
    from 30deg,
    #2fe6ff 0%,
    #2fe6ff 10%,
    transparent 10%,
    transparent 50%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .contactInfo .box .icon::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from 117.5deg,
    #2fe6ff 0%,
    #2fe6ff 10%,
    transparent 10%,
    transparent 50%
  );
}

.container .contactInfo .box .icon::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #222;
}

.container .contactInfo .box .icon b {
  position: absolute;
  inset: 8px;
  background: #2fe6ff;
  z-index: 2;
}

.container .contactInfo .box .icon i {
  position: relative;
  z-index: 1000;
  color: transparent;
  font-size: 1.25em;
}

.container .contactInfo .box .text {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 1.1em;
  color: #e0e0e0;
  font-weight: 300;
}

.container .contactInfo .box .text h3 {
  color: #2fe6ff;
  font-weight: 500;
  text-align: left;
}
.container .contactInfo .box .text p {
  /* color: #fff; */
  font-weight: 500;
  text-align: left;
}

.container .contactInfo .txt {
  /* color: #fff; */
  margin-top: 50px;
  font-weight: 500;
  border-left: 50px solid #2fe6ff;
  padding-left: 10px;
  line-height: 1em;
}

.container .contactInfo .sci {
  position: relative;
  display: flex;
  gap: 30px;
  margin: 20px 0;
}

.container .contactInfo .sci li {
  list-style: none;
}

.container .contactInfo .sci li a {
  color: #fff;
  font-size: 1.5em;
  transition: 0.25s;
}
.container .contactInfo .sci li a:hover {
  color: #2fe6ff;
  filter: drop-shadow(0 0 5px #2fe6ff);
}

.container .contactForm {
  position: relative;
  width: 40%;
  background: repeating-conic-gradient(
    from var(--a),
    #2fe6ff 0%,
    #2fe6ff 10%,
    transparent 10%,
    transparent 50%
  );
  animation: animate 6s linear infinite;
  padding: 60px;
}

.container .contactForm::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from var(--a),
    #2fe6ff 0%,
    #2fe6ff 10%,
    transparent 10%,
    transparent 50%
  );
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}

.container .contactForm::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #333;
  border: 20px solid #222;
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes animate {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.container .contactForm form {
  position: relative;
  z-index: 10;
}

.container .contactForm form h2 {
  font-size: 2em;
  color: #fff;
  font-weight: 500;
}

.container .contactForm form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.container .contactForm form .inputBox input,
.container .contactForm form .inputBox textarea {
  width: 100% !important;
  padding: 5px 0;
  font-size: 1.1em;
  margin: 10px 0;
  border: none;
  background: transparent;
  border-bottom: 2px solid #2fe6ff;
  color: #fff;
  outline: none;
  resize: none;
}

.container .contactForm form .inputBox span {
  position: absolute;
  left: 0;
  pointer-events: none;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 1.1em;
  color: #fff;
  transition: 0.2s;
}

.container .contactForm form .inputBox input:focus ~ span,
.container .contactForm form .inputBox textarea:focus ~ span,
.container .contactForm form .inputBox input:valid ~ span,
.container .contactForm form .inputBox textarea:valid ~ span {
  color: #2fe6ff;
  font-size: 0.9em;
  top: -25%;
  transform: translateY((-24px));
}

.container .contactForm form .inputBox input[type="submit"] {
  width: 100%;
  background: #2fe6ff;
  color: #222;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.1em;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo,
  .container .contactForm {
    width: 100%;
  }
  .container .contactForm {
    padding: 30px;
  }
}
